<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooring.mh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartPageActivity"
            android:theme="@style/StartAndGuideTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--导航界面-->
        <activity
            android:name=".activity.GuidePageActivity"
            android:theme="@style/StartAndGuideTheme" />

        <!--MainActivity-->
        <activity android:name=".activity.MainActivity" />

        <!--展示更多-->
        <activity android:name=".activity.MoreActivity" />

        <!--登录和注册-->
        <activity android:name=".activity.LoginAndSignUpActivity" />

        <!--修改密码-->
        <activity android:name=".activity.ConfirmationPswActivity" />

        <!--通用展示成功和失败页面-->
        <activity android:name=".activity.CommonSuccessActivity" />

        <!--获取手机验证码-->
        <activity android:name=".activity.VerifyPhoneActivity" />

        <!--添加用户-->
        <activity android:name=".activity.AddUserActivity" />

        <!--展示和控制加热-->
        <activity android:name=".activity.HeatingControlActivity" />

        <!--展示和控制烘干-->
        <activity android:name=".activity.DryingControlActivity" />

        <!--展示各种数据详情-->
        <activity android:name=".activity.ParameterDetailActivity" />

        <!--关于-->
        <activity android:name=".activity.AboutActivity" />

        <!--建议-->
        <activity android:name=".activity.SuggestionsActivity" />

        <!--用户详情-->
        <activity android:name=".activity.UserInfoActivity" />
    </application>

</manifest>
