<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooring.mh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AddUserActivity"
            android:theme="@style/StartAndGuideTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GuidePageActivity"
            android:theme="@style/StartAndGuideTheme" />

        <activity android:name=".activity.MainActivity" />

        <activity android:name=".activity.MoreActivity" />

        <activity android:name=".activity.LoginAndSignUpActivity" />

        <activity android:name=".activity.ConfirmationPswActivity" />

        <activity android:name=".activity.CommonSuccessActivity" />

        <activity android:name=".activity.VerifyPhoneActivity" />

        <!--<activity android:name=".activity.AddUserActivity" />-->
    </application>

</manifest>
